<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Member">
	  	<resultMap type="Member" id="resultMember">
	  		<id property="userId" column="ID"/>
	  		<result property="userPwd" column="PWD"/>
	  		<result property="userName" column="NAME"/>
	  		<result property="userNickName" column="NICKNAME"/>
	  		<result property="userPhone" column="PHONE"/>
	  	</resultMap>
	  	
	  
	  <!-- 회원가입 -->
	  <insert id="insertMember" parameterType="Member">
	  	INSERT INTO MEMBER VALUES(#{userId}, #{userPwd}, #{userName}, #{userNickName}, #{userPhone})
	  </insert>		  
	  
	  <!-- 로그인 -->
	  <select id="login" parameterType="string" resultMap="resultMember">
	  	SELECT * FROM MEMBER WHERE ID = #{userId} AND PWD = #{userPwd}
	  </select>
	  
	  <!-- 아이디찾기 -->
	  <select id="findId" parameterType="string" resultMap="resultMember">
	  	SELECT ID FROM MEMBER WHERE NAME = #{userName} AND PHONE = #{userPhone}
	  </select>
	  
	  <!-- 비밀번호찾기 -->
	  <select id="findPwd" parameterType="string" resultMap="resultMember">
	  	SELECT PWD FROM MEMBER WHERE ID = #{userId} AND PHONE = #{userPhone}
	  </select>
	  
</mapper>
